---
---

@import "{{ site.theme }}";

body {
    min-width: 1012px;
    word-wrap: break-word;
}

.Header {
    background-color: #24292e;
    color: hsla(0, 0%, 100%, .75);
    padding-bottom: 12px;
    padding-top: 12px;
    height: 60px; /* TODO: Derive from contents. */
}

.css-truncate {
    display: inline-block;
    max-width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}

.octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
}

.vcard-fullname {
    font-size: 26px;
    line-height: 30px;
}

.vcard-details {
    list-style: none;
}

.vcard-detail {
    padding-left: 22px;
}

.vcard-detail .octicon {
    color: #6a737d;
    float: left;
    margin-left: -22px;
    margin-top: 3px;
    text-align: center;
    width: 16px;
}

.vcard-details .css-truncate {
    max-width: 100%;
    width: 100%;
}
